/Aufgabe1.class
/Aufgabe1_Nährstoffangaben.class
/Aufgabe1_Nährstoffangaben$Aufgabe1_NährstoffangabenBuilder.class
/Aufgabe1_main.class
/IterableString.class
/StringIterator.class
/IteratorMain.class
/Aufgabe4_Exam.class
/Aufgabe4_Questions.class
/Aufgabe4_Main.class
