/Aufg1_AbstractFigur.class
/Aufg1_Brett.class
/Aufg1_Dame.class
/Aufg1_Feld.class
/Aufg1_Figur.class
/Aufg1_Laeufer.class
/Aufg1_LaeuferImpl.class
/Aufg1_Turm.class
/Aufg1_TurmImpl.class
/Aufg2_Main.class
/Aufg2_Stack.class
/Aufg4_Autofahrer.class
/Aufg4_Cyborg.class
/Aufg4_Entscheidungen.class
/Aufg4_Gefahren.class
/Aufg4_Main.class
/Aufg4_Mensch.class
/Aufg4_Roboter.class
/B15_Aufg1_Main.class
/BrettTest.class
/KugelvolumenTest.class
/PersonTest.class
/PunktTest.class
/Aufg3_Main.class
/Aufg3_Stack.class
/Aufg3_Stack_Test.class
