/Person.class
/Student.class
/Professor.class
/Main.class
/Angestellter.class
/Abteilungsleiter.class
/Abteilung.class
/Unternehmen.class
/Coin.class
/SimpleChangeCalculator.class
/MyChangeCalculator.class
