/MethodeZumDateiLesen.class
/FileReaderClass.class
/TCPClient.class
/TCPClient1.class
/OutputStreamWriterClass.class
/FileWriterClass.class
/BufferedReaderClass.class
/BufferedWriterClass.class
/WritePersonClass.class
/Person.class
/ReadPersonClass.class
