/Aufg1_Main.class
/Aufg1_Person.class
/Aufg1_Professor.class
/Aufg1_Student.class
/Aufg2_Main.class
/Aufg2_MultipleChoice.class
/Aufg2_Quizbogen.class
/Aufg2_Textfragen.class
/Aufg3_Abteilungsleiter.class
/Aufg3_Angestellter.class
