/Computer.class
/Betriebsystem.class
/Computer$Betriebsystem.class
/Betriebssystem.class
/Computer$BuilderPattern.class
/ComputerBuilder.class
/Programm.class
/Computer$1.class
/Computer$2.class
/ProgrammInterface.class
